In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import xlrd

In [2]:
survey = pd.read_excel(open("Global Party Survey by Party Excel V1 10_Feb_2020.xlsx", "rb"), sheet_name="Global Party Survey by Party Ex")
wiid = pd.read_excel(open("WIID_17Dec2019.xlsx", "rb"), sheet_name="Sheet2")
gini= pd.read_excel(open("WIID_17Dec2019.xlsx", "rb"), sheet_name="Sheet5")

In [3]:
survey = pd.DataFrame(survey)
wiid = pd.DataFrame(wiid)
gini = pd.DataFrame(gini)

In [4]:
survey.head(1)

,ID_GPS,ISO,Country,Partyname,Partyabb,CPARTY,CPARTYABB,Region,Experts,Min_Experts,...,v2psprbrch_osp,v2psprbrch_ord,v2psprlnks,v2psprlnks_osp,v2psprlnks_ord,v2psplats,v2psplats_osp,v2psplats_ord,v2xnp_client,v2xps_party
0,1.0,AFG,Afghanistan,Islamic Society,JI,AFG_ Islamic Society,AFG_ JI,6.0,11.0,1.0,...,1.401,1.0,-0.081,1.901,2.0,-0.322,1.561,1.0,0.685,0.295

In [5]:
wiid.head(1)

    c3  region_un_sub   region_wb      eu      oecd incomegroup
0  AFG  Southern Asia  South Asia  Non-EU  Non-OECD  Low income

In [6]:
gini.head(1)

   ISO  Year_GNI   GINI
0  ALB      2012  28.96

In [11]:
wiid.rename(columns={"c3":"ISO"}, inplace = True)
gini.rename(columns={"ISO":"ISO"}, inplace = True)

In [12]:
wiid.head(1)

   ISO  region_un_sub   region_wb      eu      oecd incomegroup
0  AFG  Southern Asia  South Asia  Non-EU  Non-OECD  Low income

In [14]:
#Merge wiid and gini
wiid_gini = wiid.merge(gini)
wiid_gini.sample(2)

,ISO,region_un_sub,region_wb,eu,oecd,incomegroup,Year_GNI,GINI
2884,DNK,Northern Europe,Europe and Central Asia,EU,OECD,High income,2015,28.17
1525,CAN,Northern America,North America,Non-EU,OECD,High income,2013,34.02

In [17]:
#Merge wiid_gini and survey
data = survey.merge(wiid_gini, on="ISO", how="right")

In [18]:
data.sample(2)

,ID_GPS,ISO,Country,Partyname,Partyabb,CPARTY,CPARTYABB,Region,Experts,Min_Experts,...,v2psplats_ord,v2xnp_client,v2xps_party,region_un_sub,region_wb,eu,oecd,incomegroup,Year_GNI,GINI
39399,668.0,MNE,Montenegro,Key Coalition,Kljuc,MNE_ Key Coalition,MNE_ Kljuc,1.0,8.0,1.0,...,4.0,0.754,0.667,Southern Europe,Europe and Central Asia,Non-EU,Non-OECD,Upper middle income,2014,31.93
3679,34.0,AUS,Australia,Liberal National Party,LNP,AUS_ Liberal National Party,AUS_ LNP,5.0,15.0,1.0,...,4.0,0.059,0.927,Australia and New Zealand,East Asia and the Pacific,Non-EU,OECD,High income,2014,35.84

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75483 entries, 0 to 75482
Columns: 161 entries, ID_GPS to GINI
dtypes: float64(143), int64(1), object(17)
memory usage: 93.3+ MB

In [39]:
data["CPARTY"]=data["CPARTY"].str[4:]

In [40]:
data.head(2)

,ID_GPS,ISO,Country,Partyname,Partyabb,CPARTY,CPARTYABB,Region,Experts,Min_Experts,...,v2psplats,v2psplats_osp,v2psplats_ord,v2xnp_client,v2xps_party,region_un_sub,region_wb,eu,oecd,incomegroup
0,1.0,AFG,Afghanistan,Islamic Society,JI,Islamic Society,AFG_ JI,6.0,11.0,1.0,...,-0.322,1.561,1.0,0.685,0.295,Southern Asia,South Asia,Non-EU,Non-OECD,Low income
1,1.0,AFG,Afghanistan,Islamic Society,JI,Islamic Society,AFG_ JI,6.0,11.0,1.0,...,-0.322,1.561,1.0,0.685,0.295,Southern Asia,South Asia,Non-EU,Non-OECD,Low income

In [41]:
data.columns.values

array(['ID_GPS', 'ISO', 'Country', 'Partyname', 'Partyabb', 'CPARTY',
       'CPARTYABB', 'Region', 'Experts', 'Min_Experts', 'TYPES',
       'Type_Values', 'Type_Populism', 'Type_Populist_Values',
       'Type_Partysize_vote', 'Type_Partysize_seat', 'CORE_GPS_ITEMS',
       'V1', 'V2', 'V3', 'V4_Scale', 'V4_Bin', 'V4_Ord', 'V5', 'V6_Scale',
       'V6_Bin', 'V6_Ord', 'V7', 'V8_Scale', 'V8_Bin', 'V8_Ord', 'V9',
       'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18',
       'V19', 'V20', 'V21', 'METAEXPERT', 'YoB', 'Gender', 'Born',
       'Citizen', 'Partysupport', 'Ideology', 'Difficulty',
       'LocationLatitude', 'LocationLongitude', 'Language', 'METAPARTY',
       'Elec_code', 'Elec_year', 'PartyPerVote', 'PartyPerSeats', 'ENEP',
       'ENPP', 'LSQINDEX', 'CHES_lrecon', 'CHES_lrecon_salience',
       'CHES_galtan', 'CHES_galtan_salience', 'CHES_immigrate_policy',
       'CHES_ethnic_minorities', 'CHES_people_vs_elite', 'CHES_experts',
       'CHES_vote', 'CHES_seat', 'CHES_electionyear', 'CHES_family',
       'CHES_govt', 'PG_family', 'PG_left_right', 'PG_state_market',
       'PG_liberty_authority', 'PG_eu_anti_pro', 'Popu_List',
       'WVS_LR_PartyVoter', 'WVS_LibCon_PartyVoter',
       'WVS_Polmistrust_PartyVoter', 'WVS_LR_MedianVoter',
       'WVS_LibCon_MedianVoter', 'LRdistancemedianvoter',
       'LCdistancemedianvoter', 'LRdistanceownvoters',
       'LCdistanceownvoters', 'PARTYIDCODES', 'ID_ParlGov',
       'ID_PartyFacts', 'ID_CHES', 'ID_ESS', 'ID_CMP', 'ID_castles_mair',
       'ID_huber_inglehart', 'ID_ray', 'ID_benoit_laver', 'ID_EES',
       'ID_WVS', 'METACOUNTRY', 'CountryName', 'ID_Cow', 'ID_VDem',
       'Region_9', 'Region_10', 'Region_19', 'OECD', 'polity', 'polity2',
       'FH_Regime', 'FH_PoliticalRights', 'FH_CivilLiberties', 'Area',
       'Pop1990', 'Pop2000', 'Pop2018', 'GDP', 'Longevity', 'Corruption',
       'Electoral_Integrity', 'VDem_regime', 'v2x_polyarchy',
       'v2x_libdem', 'v2xel_frefair', 'v2elfrfair', 'v2elfrfair_osp',
       'v2elfrfair_ord', 'v2elloelsy', 'v2elparlel', 'v2elncbpr',
       'Turnout', 'v2eltrnout', 'v2elvaptrn', 'v2psbars', 'v2psbars_osp',
       'v2psbars_ord', 'v2psorgs', 'v2psorgs_osp', 'v2psorgs_ord',
       'v2psprbrch', 'v2psprbrch_osp', 'v2psprbrch_ord', 'v2psprlnks',
       'v2psprlnks_osp', 'v2psprlnks_ord', 'v2psplats', 'v2psplats_osp',
       'v2psplats_ord', 'v2xnp_client', 'v2xps_party', 'region_un_sub',
       'region_wb', 'eu', 'oecd', 'incomegroup'], dtype=object)

In [42]:
data.to_excel("datavis.xlsx", sheet_name="cleaned_data")