In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import xlrd

In [94]:
survey = pd.read_excel(open("Global Party Survey by Party Excel V1 10_Feb_2020.xlsx", "rb"), sheet_name="Global Party Survey by Party Ex")
wiid = pd.read_excel(open("WIID_17Dec2019.xlsx", "rb"), sheet_name="Sheet2")
gini= pd.read_excel(open("WIID_17Dec2019.xlsx", "rb"), sheet_name="Sheet5")

In [95]:
survey = pd.DataFrame(survey)
wiid = pd.DataFrame(wiid)
gini = pd.DataFrame(gini)

In [96]:
survey.head(1)

,ID_GPS,ISO,Country,Partyname,Partyabb,CPARTY,CPARTYABB,Region,Experts,Min_Experts,...,v2psprbrch_osp,v2psprbrch_ord,v2psprlnks,v2psprlnks_osp,v2psprlnks_ord,v2psplats,v2psplats_osp,v2psplats_ord,v2xnp_client,v2xps_party
0,1.0,AFG,Afghanistan,Islamic Society,JI,AFG_ Islamic Society,AFG_ JI,6.0,11.0,1.0,...,1.401,1.0,-0.081,1.901,2.0,-0.322,1.561,1.0,0.685,0.295

In [97]:
survey.shape

(2670, 154)

In [98]:
wiid.head(1)

    c3  region_un_sub   region_wb      eu      oecd incomegroup
0  AFG  Southern Asia  South Asia  Non-EU  Non-OECD  Low income

In [99]:
wiid.shape

(11685, 6)

In [100]:
gini.head(1)

   ISO  Year_GNI   GINI
0  ALB      2012  28.96

In [101]:
wiid.rename(columns={"c3":"ISO"}, inplace = True)
gini.rename(columns={"ISO":"ISO"}, inplace = True)

In [102]:
wiid.head(1)

   ISO  region_un_sub   region_wb      eu      oecd incomegroup
0  AFG  Southern Asia  South Asia  Non-EU  Non-OECD  Low income

In [103]:
#Merge wiid and gini
wiid_gini = wiid.merge(gini, on="ISO", how="left")
wiid_gini.sample(2)

,ISO,region_un_sub,region_wb,eu,oecd,incomegroup,Year_GNI,GINI
11163,USA,Northern America,North America,Non-EU,Non-OECD,High income,2016.0,41.50
228,ARM,Western Asia,Europe and Central Asia,Non-EU,Non-OECD,Upper middle income,2017.0,33.62

In [104]:
wiid_gini.shape

(11685, 8)

In [114]:
#Merge wiid_gini and survey
#left_on='lkey', right_on='rkey', suffixes=(False, False)
data = survey.merge(wiid_gini, on="ISO", how="left", indicator="True")

In [115]:
data.sample(2)

,ID_GPS,ISO,Country,Partyname,Partyabb,CPARTY,CPARTYABB,Region,Experts,Min_Experts,...,v2xnp_client,v2xps_party,region_un_sub,region_wb,eu,oecd,incomegroup,Year_GNI,GINI,True
7007,210.0,CRI,Costa Rica,National Restoration,PREN,CRI_ National Restoration,CRI_ PREN,2.0,9.0,1.0,...,0.116,0.646,Central America,Latin America and the Caribbean,Non-EU,Non-OECD,Upper middle income,2017.0,48.34,both
16430,523.0,KOR,Republic of Korea,Independents,Ind.,KOR_ Independents,KOR_ Ind.,6.0,13.0,1.0,...,0.117,0.873,Eastern Asia,East Asia and the Pacific,Non-EU,OECD,High income,2012.0,31.56,both

In [117]:
data["CPARTY"]=data["CPARTY"].str[4:]

In [82]:
data.head(2)

,ID_GPS,ISO,Country,Partyname,Partyabb,CPARTY,CPARTYABB,Region,Experts,Min_Experts,...,v2xnp_client,v2xps_party,region_un_sub,region_wb,eu,oecd,incomegroup,Year_GNI,GINI,True
0,1.0,AFG,Afghanistan,Islamic Society,JI,Islamic Society,AFG_ JI,6.0,11.0,1.0,...,0.685,0.295,Southern Asia,South Asia,Non-EU,Non-OECD,Low income,NaN,NaN,both
1,1.0,AFG,Afghanistan,Islamic Society,JI,Islamic Society,AFG_ JI,6.0,11.0,1.0,...,0.685,0.295,Southern Asia,South Asia,Non-EU,Non-OECD,Low income,NaN,NaN,both

In [83]:
data.columns.values

array(['ID_GPS', 'ISO', 'Country', 'Partyname', 'Partyabb', 'CPARTY',
       'CPARTYABB', 'Region', 'Experts', 'Min_Experts', 'TYPES',
       'Type_Values', 'Type_Populism', 'Type_Populist_Values',
       'Type_Partysize_vote', 'Type_Partysize_seat', 'CORE_GPS_ITEMS',
       'V1', 'V2', 'V3', 'V4_Scale', 'V4_Bin', 'V4_Ord', 'V5', 'V6_Scale',
       'V6_Bin', 'V6_Ord', 'V7', 'V8_Scale', 'V8_Bin', 'V8_Ord', 'V9',
       'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18',
       'V19', 'V20', 'V21', 'METAEXPERT', 'YoB', 'Gender', 'Born',
       'Citizen', 'Partysupport', 'Ideology', 'Difficulty',
       'LocationLatitude', 'LocationLongitude', 'Language', 'METAPARTY',
       'Elec_code', 'Elec_year', 'PartyPerVote', 'PartyPerSeats', 'ENEP',
       'ENPP', 'LSQINDEX', 'CHES_lrecon', 'CHES_lrecon_salience',
       'CHES_galtan', 'CHES_galtan_salience', 'CHES_immigrate_policy',
       'CHES_ethnic_minorities', 'CHES_people_vs_elite', 'CHES_experts',
       'CHES_vote', 'CHES_seat', 'CHES_electionyear', 'CHES_family',
       'CHES_govt', 'PG_family', 'PG_left_right', 'PG_state_market',
       'PG_liberty_authority', 'PG_eu_anti_pro', 'Popu_List',
       'WVS_LR_PartyVoter', 'WVS_LibCon_PartyVoter',
       'WVS_Polmistrust_PartyVoter', 'WVS_LR_MedianVoter',
       'WVS_LibCon_MedianVoter', 'LRdistancemedianvoter',
       'LCdistancemedianvoter', 'LRdistanceownvoters',
       'LCdistanceownvoters', 'PARTYIDCODES', 'ID_ParlGov',
       'ID_PartyFacts', 'ID_CHES', 'ID_ESS', 'ID_CMP', 'ID_castles_mair',
       'ID_huber_inglehart', 'ID_ray', 'ID_benoit_laver', 'ID_EES',
       'ID_WVS', 'METACOUNTRY', 'CountryName', 'ID_Cow', 'ID_VDem',
       'Region_9', 'Region_10', 'Region_19', 'OECD', 'polity', 'polity2',
       'FH_Regime', 'FH_PoliticalRights', 'FH_CivilLiberties', 'Area',
       'Pop1990', 'Pop2000', 'Pop2018', 'GDP', 'Longevity', 'Corruption',
       'Electoral_Integrity', 'VDem_regime', 'v2x_polyarchy',
       'v2x_libdem', 'v2xel_frefair', 'v2elfrfair', 'v2elfrfair_osp',
       'v2elfrfair_ord', 'v2elloelsy', 'v2elparlel', 'v2elncbpr',
       'Turnout', 'v2eltrnout', 'v2elvaptrn', 'v2psbars', 'v2psbars_osp',
       'v2psbars_ord', 'v2psorgs', 'v2psorgs_osp', 'v2psorgs_ord',
       'v2psprbrch', 'v2psprbrch_osp', 'v2psprbrch_ord', 'v2psprlnks',
       'v2psprlnks_osp', 'v2psprlnks_ord', 'v2psplats', 'v2psplats_osp',
       'v2psplats_ord', 'v2xnp_client', 'v2xps_party', 'region_un_sub',
       'region_wb', 'eu', 'oecd', 'incomegroup', 'Year_GNI', 'GINI',
       'True'], dtype=object)

In [84]:
data.to_excel("datavis.xlsx", sheet_name="cleaned_data")